$main-background: hsl(233, 47%, 7%); // main background
$card-background: hsl(244, 38%, 16%); // card background
$accent: hsl(277, 64%, 61%); // accent
$white: hsl(0, 0%, 100%); // main heading, stats
$main-paragraph: hsla(0, 0%, 100%, 0.75); // main paragraph
$stats-heading: hsla(0, 0%, 100%, 0.6); // stats heading

* {
  margin: 0; //?
  padding: 0; //?
  box-sizing: border-box;
}

body {
  font-size: 15px;
  height: 100vh;
  margin: 72px 0;
  color: white; //
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-background;
}

.container {
  height: 958px;
  width: 375px;
  background-color: $main-background;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 780px;
  width: 327px;
  background-color: $card-background;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  &__main-image {
    height: 240px;
    max-width: 327px;
    background-color: $accent;
    background-image: url("../images/image-header-mobile.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    opacity: 0.75;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &__main-content {
    height: 542px;
  }

  &__header {
    &__title {
      margin: 0 auto;
      margin-top: 40px;
      width: 264px;
      font-family: Inter;
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      color: $white;

      &--accent {
        color: $accent;
      }
    }
  }

  &__body {
    &__content {
      width: 264px;
      margin: 0 auto;
      margin-top: 16px;
      font-family: Inter;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      color: $main-paragraph;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 16px;
    height: 264px;


    &__heading {
      display: block;
      text-transform: uppercase;
      font-family: Inter;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: $white;
    }

    &__body {
      text-transform: uppercase;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 12px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $stats-heading;
    }
  }
}



/////////////////////////////////////////////////////////
//   MEDIA QUERIES
/////////////////////////////////////////////////////////

@media screen and (min-width: 1150px) {
  body {
    margin: 0;
  }

  .container {
    width: 1440px;
    flex-direction: row;
  }

  .card__main-image {
    min-width: 540px;
    height: auto; //446px;
    order: 2;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .card__main-content {
    width: 570px;
    height: 446px;
    padding: 71px 95px 59px 71px;
  }

  .card {
    width: 1110px;
    height: 446px;
    flex-direction: row;
    text-align: left;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    &__header__title {
      margin: 0;
      width: 404px;
      font-size: 36px;
      line-height: 44px;
    }

    &__body__content {
      margin: 0;
      margin-top: 25px;
      width: 374px;
      text-align: left;

    }

    &__footer {
      flex-direction: row;
      justify-content: space-between;
      height: auto;
      width: 347px;
      padding: 0;
      margin-top: 72px;
    }
  }
}