* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  height: 100vh;
  margin: 72px 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #090b1a;
}

.container {
  height: auto;
  width: 375px;
  background-color: #090b1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  height: 780px;
  width: 327px;
  background-color: #1b1938;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card__main-image {
  height: 240px;
  max-width: 327px;
  background-color: #aa5cdb;
  background-image: url("../images/image-header-mobile.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  opacity: 0.75;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card__main-content {
  height: 542px;
}

.card__header__title {
  margin: 0 auto;
  margin-top: 40px;
  width: 264px;
  font-family: Inter;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: white;
}

.card__header__title--accent {
  color: #aa5cdb;
}

.card__body__content {
  width: 264px;
  margin: 0 auto;
  margin-top: 16px;
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.75);
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 16px;
  height: 264px;
}

.card__footer__heading {
  display: block;
  text-transform: uppercase;
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: white;
}

.card__footer__body {
  text-transform: uppercase;
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1150px) {
  body {
    margin: 0;
  }
  .container {
    width: 1440px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card__main-image {
    min-width: 540px;
    height: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .card__main-content {
    width: 570px;
    height: 446px;
    padding: 71px 95px 59px 71px;
  }
  .card {
    width: 1110px;
    height: 446px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .card__header__title {
    margin: 0;
    width: 404px;
    font-size: 36px;
    line-height: 44px;
  }
  .card__body__content {
    margin: 0;
    margin-top: 25px;
    width: 374px;
    text-align: left;
  }
  .card__footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    width: 347px;
    padding: 0;
    margin-top: 72px;
  }
}
/*# sourceMappingURL=style.css.map */